body {
    background: #110476;
    perspective: 1000px;
    transform-style: preserve-3d;
    display: flex;
    height: 100vh;
}

.card {
    transform: translateZ(0);
    border-radius: 5px;
    width: 400px;
    margin: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    position: relative;
    color: #1cc5d1;
    text-shadow: 1px 1px black;
    background-image: linear-gradient(to top, #110472, transparent);
}

* {
    font-family: verdana !important;
}

.card:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 50%;
    left: 0;
    bottom: -50px;
}

.card .card-content {
    transform-style: preserve-3d;
}

* {
    text-shadow: 0.5px 0px red, -0.5px 0px blue, 2px 1px black;
}

hr {
    border: 2px dashed white;
    filter: drop-shadow(2px 2px black);
}

.card h1 {
    transform: translateZ(100px);
    color: white;
    font-size: 20px;
}

 .card hr  {
    transform: translateZ(50px);
    display: block;
}
.card .info {
    transform: translateZ(40px);
}


.card .hi {
    transform: translateZ(100px);
}
.card .hi button {
    background-color: #0f0369;
    border: 0;
    color: #1cc5d1;
}
.marquee-container,
.real {
    height: 300px;
    overflow: auto;
    position: relative;
    width: 400px;
    scrollbar-width: none;
}

.marquee-content {
    position: absolute;
    width: 100%;
    animation: scrollUp 70s linear infinite;
}

p:hover {
    color: #68ffff;
    text-indent: 6px;
    transition:0.1s
}
p {
    transition:0.1s
}
@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.real,
.marquee-container {
    display: none;
}

.active {
    display: block;
}

a {
    color: white
}
small a {
    color:yellow
}