/*
    CC - BY / NC / SA 
    ※ Do what you want. Do not monetize my code nor your edits. Credit me accordingly.
    ※ Any edits should have the same license.
    
    ※ I do not respect css in any form. A lot of this is unoptimized. Be weary. 
*/

body {
    background-color: var(--secondary);
}

:root {
    --primary: #72e7f7;
    --secondary: #281d9f;
    --tertiary: #fff;
}

.mobile {
    background-color: var(--tertiary);
    font-weight: bold;
    color: #191919;
    display: none;
    padding: 0.2em;
    height: 100px;
    overflow: auto
}

.container {
    background-color: #222222;
    margin: auto;
    width: 500px;
    box-shadow: 6px 6px black;
    color: var(--primary);
    padding: 0.5em;
    margin-top: 10px
}

.box {
    padding: 1em;
    border: 2px solid var(--primary);
    position: relative;
    padding-top: 1em;
}

.header {
    position: absolute;
    top: -8px;
    background-color: #222222;
    font-size: 20px;
    padding: 0px 10px;
}

a {
    color: #6feacf;
    text-decoration: underline wavy #444444;
}

footer {
    text-align: center;
    font-size: 14px;
}

table {
    padding: 0.1em;
    background-color: #141414;
    border: 1px solid #222222;
    outline: 1px solid #141414;
}

footer small {
    font-size: 12px;
    opacity: 0.6
}

nav ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

nav ul li a button,
nav ul li button {
    color: var(--primary);
    border: 3px double var(--primary);
    padding: 0.5em;
    background-color: #222222;
}

hr {
    border: 2px dashed var(--tertiary);
}

table tr td:first-of-type {
    background-color: #191919;
    color: var(--tertiary);
    box-shadow: -1px -1px #333333;
    text-align: center;
    text-decoration: none;
}

table tr td:last-of-type {
    border-bottom: 1px dashed #333333
}

input[type=color] {
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 300px) {
    .container {
        box-shadow: none;
        width: 95%;
        padding: 5px;
    }

    .mobile {
        display: block;
    }

    nav ul li a button,
    nav ul li button {
        border: 1px solid var(--primary);
    }

    .box {
        padding-top: 0.5em;
        border: 1px solid
    }

    .header {
        position: relative;
        top: 0px
    }

    hr {
        border: none;
        border-top: 1px dashed var(--tertiary)
    }

    nav {
        position: fixed;
        bottom: 0;
        z-index: 33;
        width: 100%;
        left: 0
    }

    .show-big {
        display: none
    }
}

nav ul li:last-child button:first-of-type

/*lord have mercy*/
    {
    border-bottom: 0
}

@media only screen and (min-width:300px) {
    .container {
        width: 80%
    }

    .header {
        font-size: 30px
    }

    .hide-small {
        display: none
    }

    nav {
        position: fixed;
        bottom: 0;
        z-index: 33;
        width: 100%;
        left: 0
    }

    .show-big {
        display: none
    }
}

@media only screen and (min-width:600px) {
    .container {
        width: 500px;
        box-shadow: none;
        filter: drop-shadow(8px 8px black);
    }

    .hide-med {
        display: none
    }

    h2 {
        margin-top: 20px;
    }

    nav {
        display: block;
        position: absolute;
        top: 30%;
        bottom: 0px;
        left: -100px;
    }

    nav ul {
        display: block;
    }

    nav ul li a button,
    nav ul li button {
        width: 100px;
        border: 2px solid var(--primary);
        border-right: none
    }

    .show-big {
        display: block;
    }
}