/*nekoweb garbo related to the RSS feed and site box.*/ 
    .post-box {
        background: darkblue;
        border:0;
        border-radius: 0;
        color:cyan;
        padding:10px;
    }
    
    * {
        font-family: "MS UI Gothic", tahoma;
    }
    
.post-box .post-box-inner {
  overflow: hidden;
  box-sizing: border-box;
  border:3px solid cyan;
  padding:10px;
}

.post-box .post-author {
  font-size:12px;
    font-weight:bold;
    text-shadow: 1px 1px black;
}

.post-box.post-box .post-date::before {
  color: white;
  content: "※";
}

.post-box .post-dot {
  display: none
}

.post-box .post-date {
    color:white;
    font-weight:bold ;
    text-shadow: 1px 1px black;
}
.post-box .post-title {
    border-top:2px dashed white;
    filter:drop-shadow(2px 2px black);
    font-family: "MS UI Gothic", tahoma;
    paint-order:stroke fill;
    color:white;
    -webkit-text-stroke:1px black;
    padding-top:10px;
    font-style:normal;
    font-size:20px;
}
.post-box .post-title:before, .post-box .post-title:after {
    content:" !! ";
}
.post-box .post-description {
    text-shadow: 1px 1px black;
}
.post-box .post-description:before {
    content:"★ ";
}
.post-box .post-description:after {
    opacity:0.5;
    font-style:italic;
    font-size:10px;
    content:"-- orvegasynology";
}